{% extends 'base2.html.twig' %}
{% block body %}
    {% if data %}
        <h2>Editer Ville : #{{ data.id }}</h2>
        {{ form_start(formulaire, {'action': path('ville_save', {'id': data.id}), 'method': 'POST'} ) }}
    {% else %}
        <h2>Ajout Ville</h2>
        {{ form_start(formulaire, {'action': path('ville_ajout', {}), 'method': 'POST'} ) }}
    {% endif %}
    <div class="card-body">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">{{ form_label(formulaire.nom) }}</label>
            <div class="col-sm-10">
                {% if data %}
                    {{ form_widget(formulaire.nom, {'attr': {'class': 'form-control', 'placeholder' : 'Nom', 'value': data.nom}}) }}
                {% else %}
                    {{ form_widget(formulaire.nom, {'attr': {'class': 'form-control', 'placeholder' : 'Nom'}}) }}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        {{ form_widget(formulaire.save, {'attr': {'class': 'btn btn-info'}}) }}

    </div>
    {{ form_end(formulaire) }}
{% endblock %}

