{% extends 'base2.html.twig' %}
{% block body %}
		{#<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Dashboard</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
				</div>
				<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
					<span data-feather="calendar"></span>
					This week
				</button>
			</div>
		</div>#}
		<h2>Liste des reservations</h2>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
				<tr><th colspan="6" style="text-align: right"><a href="{{ path('reservation_ajout', {}) }}">Ajouter</a></th></tr>
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Prix adulte</th>
					<th>Prix enfant</th>
					<th>Ville</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
                {% if liste['hydra:totalItems'] > 0 %}
					{% for element in liste['hydra:member'] %}
						<tr>
							<td>{{ element.id }}</td>
							<td>{{ element.nom }}</td>
							<td>{{ element.prixAdulte }}</td>
							<td>{{ element.prixEnfant }}</td>
							<td>{{ element.ville }}</td>
							<td> <a href ="{{ path('reservation_detail', {id: element.id}) }}" > Editer </a> &nbsp
								<a href ="{{ path('reservation_supprime', {id: element.id}) }}" > Supprimer </a></td>
						</tr>
                    {% endfor %}
				{% else %}
					<tr>
						<td colspan="6">Pas de données</td>
					</tr>
				{% endif %}
				</tbody>
			</table>
		</div>
{% endblock %}
